################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Exercises/.vs/Exercises
.vs/
bin/
obj/